html {
  width: 100%;
  padding: 0;
  margin: 0;
}
body {
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}
hr {
  width: 90%;
  height: 1px;
  background-color: black;
}
h2 {
  text-align: center;
}
.uslugi {
  padding: 1vh 1vw;
}
.sprzet {
  padding: 1vh 1vw;
}
.info {
  padding-left: 3vw;
  padding: 1vh;
}

.logo_cointainer {
  margin: 0;
  display: flex;
}
.blank_space {
  flex: 1;
}
#logo {
  height: 30vh;
}
img {
  width: auto;
  height: 100%;
}
/* menu*/
#hit_box {
  padding: 1vh 2vw;
  background-color: red;
  float: right;
  text-align: center;
  justify-content: space-evenly;
  border-top-right-radius: 10px;
}
#menu {
  display: flex;
}
#menu_block {
  flex: 1;
  border: 2px solid rgb(46, 46, 46);
  border-radius: 10px;
  text-align: center;
  float: left;
  margin-bottom: 1vh;
  margin-left: 1vw;
  margin-right: 1vw;
  padding: 2vw 1vh;
  background-color: #14213d;
  color: white;
}
#hidden_block {
  position: absolute;
  display: none;
  background-color: #023047;
  width: 50vw;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
  width: 70vw;
}
#menu_block1 {
  flex: 1;
  border: 2px solid rgb(46, 46, 46);
  border-radius: 10px;
  text-align: center;
  float: left;
  margin-bottom: 1vh;
  margin-left: 1vw;
  margin-right: 1vw;
  padding: 2vw 1vh;
  background-color: #14213d;
  color: white;
}

/*mid*/
.mid {
  display: block;
}
.block {
  margin: 2vw;
  padding: 1vh 1vw;
}
.content_title {
  text-align: center;
  padding: 2vh 3vw;
  background-color: #fca311;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.content {
  text-align: left;
  background-color: #e5e5e5;
  padding: 2vw 2vw;
}
/*galeria*/
input {
  display: none;
}

.carusel {
  position: relative;
  max-width: 400px;
  height: 400px;
  max-height: 100vh;
  margin: 20px auto;
  overflow: hidden;
  user-select: none;
}

.carusel__item {
  position: absolute;
  z-index: 1;
  top: 0;
  display: none;
  width: 100%;
  height: 100%;
  background: center no-repeat;
  background-size: contain;
  transition: left 0.5s, transform 0.5s;
  will-change: transform;
  backface-visibility: hidden;
}

.carusel__arrow {
  display: none;
  position: absolute;
  top: 50%;
  z-index: 3;
  transform: translateY(-50%);
  opacity: 0.7;
  color: #fff;
  background-color: #999;
  cursor: pointer;
  padding: 10px;
  font-size: 28px;
  line-height: 39px;
  font-weight: bold;
}

input:checked + div ~ div ~ div ~ div .carusel__item {
  background-image: none !important;
}
input:checked + div *,
input:checked + div + input + div .carusel__item,
input:checked + div + input + div + input + div * {
  display: block;
}

input:checked + div .carusel__item {
  left: -100%;
  transform: scale(0.4);
}
input:checked + div + input + div .carusel__item {
  left: 0;
  transform: scale(1);
}
input:checked + div + input + div + input + div .carusel__item {
  left: 100%;
  transform: scale(0.4);
}

input:checked + div .carusel__arrow {
  left: 0;
}
input:checked + div + input + div + input + div .carusel__arrow {
  right: 0;
}

input:checked + div .carusel__arrow:before {
  content: "❰";
}
input:checked + div + input + div + input + div .carusel__arrow:before {
  content: "❱";
}
/* stopka*/
.stopka {
  padding: 3vh 4vw;
  background-color: #14213d;
  height: 5vh;
  color: white;
}
