html {
  width: 100%;
  padding: 0;
  margin: 0;
}
body {
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}
hr {
  width: 90%;
  height: 1px;
  background-color: black;
}

#przesuwane_menu {
  position: absolute;
  z-index: 1;
  background-color: white;
  width: 100%;
}
.logo_cointainer {
  margin: 0;
  display: flex;
}
.blank_space {
  flex: 1;
}
#logo {
  height: 30vh;
}
img {
  width: auto;
  height: 100%;
}
/* menu*/

#menu {
  display: flex;
}
#menu_block {
  flex: 1;
  position: relative;
  border: 2px solid rgb(46, 46, 46);
  border-radius: 10px;
  text-align: center;
  float: left;
  margin-bottom: 1vh;
  margin-left: 1vw;
  margin-right: 1vw;
  padding: 2vw 1vh;
  background-color: #14213d;
  color: white;
}
#hidden_block {
  position: absolute;
  display: none;
  background-color: #023047;
  z-index: 2;
  width: 50vw;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
  padding-left: 10vw;
}
#menu_block1 {
  flex: 1;
  position: relative;
  border: 2px solid rgb(46, 46, 46);
  border-radius: 10px;
  text-align: center;
  float: left;
  margin-bottom: 1vh;
  margin-left: 1vw;
  margin-right: 1vw;
  padding: 2vw 1vh;
  background-color: #14213d;
  color: white;
}
/*mid*/
.mid {
  display: block;
  margin-top: 10vh;
}
.block {
  float: left;
  margin: 5vw;
  padding: 1vh 1vw;
}
.content_title {
  text-align: center;
  padding: 2vh 3vw;
  background-color: #fca311;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.content {
  text-align: left;
  background-color: #e5e5e5;
  padding: 2vw 2vw;
}
/*galeria*/
.galeria_cointainer {
  height: 30vh;
  margin: 6vh 3vw;
  background-color: burlywood;
  padding: 1vw 2vh;
}
.gallery_menu {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: crimson;
}
#L_przycisk_galerii {
  flex: 1;
  background-color: darkcyan;
}
.gallery_photo {
  flex: 3;
  background-color: darkorange;
}
#R_przycisk_galerii {
  flex: 1;
  background-color: darkcyan;
}
